/* Patchstorage Pedalboards menu icon + header wiring (supplemental to main.css) */

#main-menu #patchstorage-pedalboards {
  background-image: url(../img/patchstorage-pedalboards-menu.png?v=1);
  background-position: 0 top;
  background-repeat: no-repeat;
  transition: all .33s;
  background-size: cover;
}
#main-menu #patchstorage-pedalboards:hover,
#main-menu #patchstorage-pedalboards.selected {
  background-color: #000;
  background-position: 0 bottom;
}

#cloud_update_all,
#patchstorage_update_all,
#patchstorage_pedalboards_update_all {
  background-image: url(../img/icons/36/update.png);
  float: right;
  font-size: 21px;
}

#patchstorage-pedalboards-library header {
  display: block;
  left: 0;
  height: 45px;
  line-height: 45px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  background-color: #111;
  background-position: 3px 50%;
  background-size: 36px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/36/mod.png);
  padding-left: 45px;
}

.blokas #patchstorage-pedalboards-library header {
  background-image: none !important;
  padding-left: 10px !important;
}

.blokas #patchstorage-pedalboards-library .patchstorage-plugins {
  background-image: none !important;
}

#patchstorage-pedalboards-library .ps-label {
  border: 1px solid #e53935;
  background: #e53935;
}
